<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/signUp.js}"></script>
</head>
<body>
<form action="#" method="post">
<table>
    <caption>회원가입</caption>
    <tr>
        <th>이메일</th>
        <td>
            <sapn class="ps_box"><input type="email" name="email" id="email" onchange="checkEmail();"/></sapn>
            <span id="emailinfo"></span>
        </td>
    </tr>
    <tr>
        <th>비밀번호</th>
        <td>
            <sapn class="ps_box"><input type="password" name="password" id="password" onchange="checkPassword();"/></sapn>
            <span id="pwdinfo"></span>
        </td>
    </tr>
    <tr>
        <th>닉네임</th>
        <td>
            <span class="ps_box"><input type="text" name="nickname" id="nickname" onchange="duplicateNicknameCheck();" maxlength="10"/></span>
            <span id="nicknameinfo"></span>
        </td>
    </tr>
    <tr>
        <th>이름</th>
        <td>
            <sapn class="ps_box"><input type="text" name="name" id="name" maxlength="10"/></sapn>
        </td>
    </tr>
    <tr>
        <th>생년월일</th>
        <td>
            <sapn class="ps_box"><input type="text" name="birth" id="birth" placeholder=" ex)19910510" maxlength="8" onchange="birthCheck();"/></sapn>
            <span id="birthinfo"></span>
        </td>
    </tr>
    <tr>
        <th>휴대폰번호</th>
        <td>
            <span class="ps_box">
                <input type="text" name="hp1" id="hp1" maxlength="3"/>-<input type="text" name="hp2" id="hp2" maxlength="4"/>-<input type="text" name="hp3" id="hp3" maxlength="4"/>
            </span>
        </td>
    </tr>
    <tr>
        <th>주소</th>
        <td>
            <span class="ps_box"><input type="text" name="address" id="address" /></span>
        </td>
    </tr>
    <tr>
        <th>자기소개</th>
        <td>
            <span class="ps_box"><textarea name="introduce" id="introduce" maxlength="100"></textarea></span>
            <span id="introCount">0/100</span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" onclick="signUpAjax();">확인</button>
            <button type="reset" onclick="history.back();">취소</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>